<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset="utf-8">
    <style>
        /* Les descendants de rang impair sont stylés avec une couleur     */
        tbody:nth-child(odd)  { background-color : #CED4E5; }
        /* Les descendants de rang pair sont stylés avec une autre couleur */
        tbody:nth-child(even) { background-color : #E8EBF5; }
        th { background-color : #557CBA; padding:0.7em; }
        td { padding:0.5em; }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr><th>information équipement</th><th>nom</th><th>marque</th><th>prix</th><th>description</th><th>quantité</th></tr>
        </thead>
        <tbody>
            <tr><td>chaussures</td><td>adidas</td><td>70 euros</td><td> chaussures noires avec des desseins</td><th>60</th></tr>
            <tr><td>maillots </td<td>nique</td><td>15 euros</td><td>maillots jaune avec le logo</td><th>40</th></tr>
            <tr><td>plots </td><td>foot locker</td><td>12 euros</td><td>plots de differents couleur et de hauteur differentes</td><th>80</th></tr>
        </tbody>
        <tbody>
            <tr><td>ballons</td><td>derbystars</td><td>30 euros</td><td>ballons blancs avec de petites étoiles rouges</td><th>70</th></tr>
            <tr><td>gants</td><td>puma</td><td>20 euros</td><td>gants de couleurs noirs avec le logo blanc</td><th>20</th></tr>
            <tr><td>sacs</td><td>under Armor</td><td>40 euros</td><td>sacs contenant un grand volume</td><th>30</th></tr>
        </tbody>
        <tbody>
            <tr><td>pneus</td><td>michelin</td><td>100 euros</td><td>pneus très résistant au choc</td><th>10</th></tr>
            <tr><td>serceaux</td><td>jouet club</td><td>10 euros</td><td>serceaux adaptés à tous type d'entrainement</td><th>50</th></tr>
            <tr><td>filets</td><td>go sport</td><td>75 euros</td><td>bonne résistance aux tires</td><th>8</th></tr>
        </tbody>
    </table>
</body>
</html>
